@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap');

:root{
    --main_color: #00F00F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main_color);
}

nav{
    width: 100%;
    height: 10vh;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: var(--main_color);
    text-shadow: 0 0 2px var(--main_color);
}

.humburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size:  clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    color: white;
    font-size: 1.2rem;
    margin:0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--main_color);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: var(--main_color);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown a{
    display: flex;
    padding: 15px 0;
    text-decoration: none;
    justify-content: center;
    color: white;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown a:hover{
    background-color: var(--main_color);
}

section{
    width: 100%;
    /*min-height: 10vh;*/
}

section .main-container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
}

.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
}

.main-container .image img{
    width: 100%;
}

.main-container .image:hover{
    animation: animate 1.5s ease-in-out;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.main-container .content{
    color: white;
    width: 40%;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    color: var(--main_color);
    text-shadow: 0 0 2px var(--main_color);
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text{
    color: var(--main_color);
    text-shadow: 0 0 2px var(--main_color);
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid var(--main_color);
    border-radius: 50%;
    color: var(--main_color);
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    background-color: var(--main_color);
    color: black;
    scale: 1.3;
    filter: drop-shadow(0 0 10px var(--main_color));
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: var(--main_color);
    color: white;
    font-size: 120%;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    background-color: transparent;
    color: var(--main_color);
    border: 2px solid var(--main_color);
    font-weight: 700;
    box-shadow: 0 0 40px var(--main_color);
}

section .content{
    width: 80%;
    margin: 0px auto;
    font-family: Poppins, sans-serif;
}
.about .about-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main_color);
}

section .title span::after{
    bottom: 7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details .left{
    width: 45%;
}

.about .left img{
    height: 400px;
    width: 400px;
    border-radius: 12px;
    object-fit: cover;
}

.about-details .right{
    width: 55%;
}

section .topic{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: justify;
    color: white;
}

section .button{
    margin: 16px 0;
}

section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--main_color);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100%;
}

section .button button:hover{
    border-color: var(--main_color);
    color: var(--main_color);
}

.skills{
    background: black;
}

.skills .content{
    padding: 40px 0;
}

.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text{
    width: 50%;
}

.skills-details p{
    color: white;
    text-align: justify;
}

.skills .skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num{
    color: white;
    font-size: 80px;
}

.skills-details .experience .exp{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic{
    font-size: 20px;
    text-align: center;
    color: var(--main_color);
}

.skills-details .boxes .per{
    font-size: 60px;
    color: var(--main_color);
}

.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    padding: 30px 10px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 12);
    text-align: center;
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover{
    background: var(--main_color);
    /*color: white;*/
}

.services .boxes .icon{
    height: 50px;
    width: 50px;
    background: var(--main_color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon{
    background-color: white;
    color: var(--main_color);
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: black;
    transition: all 0.4s ease;
}

.contact{
    background: black;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    /*margin-bottom: 20px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--main_color);
    color: white;
    font-size: 120%;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

.contact-form button:hover{
    scale: 1.1;
    background-color: transparent;
    color: black;
    border: 2px solid var(--main_color);
    font-weight: 700;
    box-shadow: 0 0 40px black;
}

footer{
    background: var(--main_color);
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
footer .text span a{
    font-weight: 500;
    color: white;
}

footer .text span a:hover{
    text-decoration: underline;
}

.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: var(--main_color);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    display: none;
}

@media (max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 900px) {
    .about .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 968px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    section .main-container{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }

    .humburg,
    .cancel{
        opacity: 1;
        pointer-events: visible;
    }

    .main-container .content{
        margin-top: 20px;
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: 1;
        width: 50%;
        height: 60%;
    }

    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .services .boxes .box{
        width: 100%;
        margin: 20px 0;
    }
    .content .text{
        width: 100%;
    }
    .about .about-details{
        flex-direction: column;
    }
}

@media(max-width: 500px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .main-container button{
        margin-top: 15px
    }
    .skills-details .boxes .per{
        font-size: 50px;
        color: var(--main_color);
    }
    .about .about-details{
        flex-direction: column;
    }
}
